@using BugTracker.Models.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
   
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!-- Bootstrap Core Css -->
    <link href="~/Assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom Css -->
    <link href="~/Assets/css/style.css" rel="stylesheet">
    
    <!--css-->
    <link href="~/Assets/Databasetable/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    @RenderSection("head", required: false)
</head>

<body class="theme-red"> 
    <div class="overlay"></div>
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="info-container">
                    @Html.ActionLink("Hello " + User.Identity.GetFullName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </div>
            </div>
        </div>
    </nav>

    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="image">
                <img src="~/Assets/buglogo2.jpeg" width="300px" height="150px" />  
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="">
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="fa fa-home"><span>Home</span></i>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="@Url.Action("Login","Account")" class="menu-toggle">
                                    <span>Login</span>
                                </a>
                            </li>

                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {@Html.AntiForgeryToken()

                            <li><a href="javascript:document.getElementById('logoutForm').submit()" class="menu-toggle"><span>Log off</span></a></li>
                            }
                        </ul>

                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="fa fa-folder-open"><span>Projects</span></i>
                        </a>
                        <ul class="ml-menu">
                            <a href="@Url.Action("Index", "Projects")" class="menu-toggle">
                                <span>All Projects</span>
                            </a>
                            <a href="@Url.Action("MyProjects", "Projects")" class="menu-toggle">
                                <span>My Projects</span>
                            </a>
                        </ul>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="fa fa-ticket"> <span>Tickets</span></i>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="@Url.Action("Index", "Tickets")" class="menu-toggle">
                                    <span>All Tickets</span>
                                </a>
                                <a href="@Url.Action("MyTickets", "Tickets")" class="menu-toggle">
                                    <span>My Tickets</span>
                                </a>
                        </ul>
                    </li>

                    @if((User.IsInRole("Admin")))
                    {
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="fa fa-user"><span>Manage Users</span></i>
                        </a>
                        @*<i class="material-icons">assignment</i>*@
                        <ul class="ml-menu">
                            <a href="@Url.Action("Index", "Admin")" class="menu-toggle">
                                <span>Users Index</span>
                            </a>
                        </ul>
                    </li>
                    }
                </ul>
                       
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
        <aside id="rightsidebar" class="right-sidebar">
            <ul class="nav nav-tabs tab-nav-right" role="tablist">
                <li role="presentation" class="active"><a href="#skins" data-toggle="tab">SKINS</a></li>
                <li role="presentation"><a href="#settings" data-toggle="tab">SETTINGS</a></li>
            </ul>           
        </aside>
        <!-- #END# Right Sidebar -->
    </section>

    <section class="content">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </section>

    <!-- Jquery Core Js -->
    <script src="~/Assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core Js -->
    <script src="~/Assets/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="~/Assets/plugins/bootstrap-select/js/bootstrap-select.js"></script>
    <!-- Slimscroll Plugin Js -->
    <script src="~/Assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- Waves Effect Plugin Js -->
    
    <!-- Custom Js -->
    <script src="~/Assets/js/admin.js"></script>
    @*<script src="~/Assets/js/pages/index.js"></script>*@
    <!-- Demo Js -->
    @*<script src="~/Assets/js/demo.js"></script>*@
    <!--Data Tables-->
    <script src="~/Assets/Databasetable/js/jquery.dataTables.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>