@model IEnumerable<BugTracker.Models.Ticket>
@using Microsoft.AspNet.Identity

<div class="align-center" style="font-style:oblique">
    <h3>All Tickets</h3>
</div>

@if ((User.IsInRole("Admin")) || (User.IsInRole("ProjectManager")) || (User.IsInRole("Developer")))
{
    <p>
        <div style="margin-left:200px; margin-right:200px; padding-top:20px; padding-bottom:20px">
            @Html.ActionLink("My Tickets", "MyTickets", "Tickets", null, new { @class = "btn btn-lg btn-block btn-info" })
        </div>
    </p>
}


<div class="container-fluid">

    @*<div class="card" >*@

    <div class=" well well-sm col-sm-12" style=" background-color:lightgray; padding-left:15px; padding-right:15px">

        <table id="tickets" class="table table-striped" style="table-layout:fixed">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>


                    <th>
                        Date
                    </th>
                    
                   
                    <th>
                        Priority
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Project 
                    </th>
                    <th>
                        Assigned User
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @item.Created.ToString("MMM dd yyyy")
                        </td>
                       
                        @if (item.TicketPriority.Name == "Urgent")
                        {
                            <td>

                                <label class="label label-warning">@Html.DisplayFor(modelItem => item.TicketPriority.Name)</label>

                            </td>
                        }
                        else if (item.TicketPriority.Name == "High")
                        {
                            <td>
                                <label class="label label-danger">@Html.DisplayFor(modelItem => item.TicketPriority.Name)</label>
                            </td>
                        }
                        else if (item.TicketPriority.Name == "Medium")
                        {
                            <td>
                                <label class="label label-success">@Html.DisplayFor(modelItem => item.TicketPriority.Name)</label>
                            </td>
                        }
                        else if (item.TicketPriority.Name == "Low")
                        {
                            <td>
                                <label class="label label-success">@Html.DisplayFor(modelItem => item.TicketPriority.Name)</label>
                            </td>
                        }


                        <td>
                            @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Project.Name)
                        </td>

                        <td>
                            @if (item.AssignedToUser != null)
                            {
                            
                                @Html.DisplayFor(modelItem => item.AssignedToUser.FullName)
                            
                            }
                            else
                            {
                                if(User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                                {
                                
                                    @Html.ActionLink("Assign Users", "AssignTicket", "Tickets", new { id = item.Id }, new { @class = "btn btn-primary" })
                                
                                }
                                else
                                {
                                     <p>Unassigned</p>
                                }

                            }

                        </td>

                        <td>
                            

                            @{
                                var userId = User.Identity.GetUserId();
                                if ((User.IsInRole("Admin"))) 
                                {
                                    @*<a href="@Url.Action("AssignTicket",new { id = item.Id })" class="btn btn-xs btn-info"><i class="fa fa-child"></i></a>*@
                                    <a href="@Url.Action("Edit",new { id = item.Id })" class="btn btn-xs btn-info" data-toggle="tooltip" title="Edit Ticket"><i class="fa fa-edit"></i></a>
                                    <a href="@Url.Action("Details",new { id = item.Id })" class="btn btn-xs btn-info" data-toggle="tooltip" title="Ticket Detail"><i class="fa fa-list"></i></a>
                                    <a href="@Url.Action("Delete",new { id = item.Id })" class="btn btn-xs btn-info" data-toggle="tooltip" title="Delete Ticket"><i class="fa fa-trash"></i></a>
                                    
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@if ((User.IsInRole("Submitter")) || (User.IsInRole("Admin")))

{
    <p>
        <div style="margin-left:200px; margin-right:200px; padding-top:20px; padding-bottom:20px">
            @Html.ActionLink("Tickets Owned By Submitter", "OwnedTickets", "Tickets", null, new { @class = "btn btn-lg btn-block btn-info" })
        </div>
    </p>
}




@section scripts{
    <script>
        $('#tickets').DataTable();
    </script>

    <script>
        $(document).ready(function () {
            $('button.btn.dropdown-toggle.btn-default').hide();
        });
    </script>
    <!-- Jquery DataTable Plugin Js -->
    <script src="~/Assets/plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="~/Assets/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
   
}
