@model IEnumerable<BugTracker.Models.Ticket>
@{
    ViewBag.Title = "OwnedTickets";
}

<div class="align-center" style="font-style:oblique">
    <h3>Owners of Tickets</h3>
</div>


<div class=" well-lg" style=" background-color:lightgray; padding-left:15px; padding-right:15px">
    <table id="ownedticket" class="table table-striped">
        <thead>
            <tr>
                <th>
                    Project Name
                </th>

                <th>
                        Assigned
                    </th>
                <th>
                    Owner
                </th>
                
                <th>
                    Priority
                </th>
                
                <th>
                    Type
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>

                    @Html.DisplayNameFor(model => model.Created)
                </th>
                
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                @
                <td>
                    @Html.DisplayFor(modelItem => item.Project.Name)
                </td>

                <td>
            @Html.DisplayFor(modelItem => item.AssignedToUser.FullName)
        </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerUser.FullName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.TicketType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @item.Created.ToString("MMM dd yyyy")
                </td>


                @if (User.IsInRole("Submitter") || User.IsInRole("Admin"))
    {
            <td>
                <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-xs btn-info" data-toggle="tooltip" title="Edit Ticket"><i class="fa fa-edit"></i></a>

            </td>
}
            </tr>
            }
        </tbody>
    </table>
</div>

<div style="padding-top:20px">
    @Html.ActionLink("Go to All Tickets", "Index", null, new { @class = "btn btn-lg btn-success" })
</div>
@section scripts{
    <script>
        $('#ownedticket').DataTable();
    </script>}
