@model IEnumerable<BugTracker.Models.ProjectDetailsViewModel>

@using Microsoft.AspNet.Identity
@section head {
    <style>
        #projIndex_btnWrap {
            padding: 0 30px;
        }
    </style>
}
@{
    ViewBag.Title = "Index";
}
<div class="align-center" style="font-style:oblique">
    <h3>All Projects</h3>
</div>
<div id="projIndex_btnWrap">
    <div style="float:left">

        @Html.ActionLink("My Projects", "MyProjects", "Projects", null, new { @class = "btn btn-lg btn-info" })
        @*</p>*@

    </div>
    <div style="float:right">
        @*<p class="align-right">*@
        @{
            var userId = User.Identity.GetUserId();
            if ((User.IsInRole("Admin") || User.IsInRole("ProjectManager"))) 
            {
                @Html.ActionLink("Create Projects", "Create", "Projects", null, new { @class = "btn btn-lg btn-info" })

            }
        }


    </div>
    <div style="clear:both"></div>
</div>

<p></p>
<div class="container-fluid">
    <div class="card">
        <div class=" well well-sm col-sm-12" style=" background-color:lightgray; padding-left:15px; padding-right:15px">
            <table id="projindex" class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Project 
                        </th>
                        <th>
                            Manager
                        </th>
                        <th>
                             Assigned Users
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                
                                @Html.DisplayFor(modelItem => item.Project.Name)
                            </td>

                            <td>
                                
                                @Html.DisplayFor(model => item.ProjectManager.FullName)
                            </td>

                            
                            <td>
                                <ul>
                                    @foreach (var usr in item.Project.Users)
                                    {
                                        <li>
                                            @usr.FullName
                                        </li>
                                    }
                                </ul>
                                
                            </td>



                            <td>
                                @if ((User.IsInRole("Admin")))
                                {

                                    <a href="@Url.Action("Details", new { id = item.Project.Id })" class="btn btn-xs btn-info" data-toggle="tooltip" title="Project Details"><i class="fa fa-list"></i></a>
                                    <a href="@Url.Action("Delete", new { id = item.Project.Id })" class="btn btn-xs btn-info"><i class="fa fa-trash"></i></a>
                                   
                                }
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('#projindex').DataTable();
    </script>}


