@model IEnumerable<BugTracker.Models.ProjectDetailsViewModel>

@using Microsoft.AspNet.Identity
@section head {
    <style>
        #projIndex_btnWrap {
            padding: 0 30px;
        }
    </style>
}
@{
    ViewBag.Title = "Index";
}
<div class="align-center" style="font-style:oblique">
    <h3>All Projects</h3>
</div>
<div id="projIndex_btnWrap">
    <div style="float:left">

        @*<p class="align-left">*@

        @Html.ActionLink("My Projects", "MyProjects", "Projects", null, new { @class = "btn btn-lg btn-info" })
        @*</p>*@

    </div>
    <div style="float:right">
        @*<p class="align-right">*@
        @{
            var userId = User.Identity.GetUserId();
            if ((User.IsInRole("Admin") || User.IsInRole("ProjectManager"))) /*|| (Model.Tickets.AssignedToUserId == userId || item.OwnerUserId == userId))*/
            {
                @Html.ActionLink("Create Projects", "Create", "Projects", null, new { @class = "btn btn-lg btn-info" })

                @*<a href="@Url.Action("AssignTicket",new { id = item.Id })" class="btn btn-xs btn-info"><i class="fa fa-child"></i></a>
                    <a href="@Url.Action("Edit",new { id = item.Id })" class="btn btn-xs btn-info"><i class="fa fa-edit"></i></a>
                    <a href="@Url.Action("Details",new { id = item.Id })" class="btn btn-xs btn-info"><i class="fa fa-list"></i></a>
                    <a href="@Url.Action("Delete",new { id = item.Id })" class="btn btn-xs btn-info"><i class="fa fa-trash"></i></a>*@
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id })*@
                @*@Html.ActionLink("Details", "Details", new { id = item.Id })*@
                @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
            }
        }


        @*@Html.ActionLink("Create Projects", "Create") |*@
        @*@Html.ActionLink("Create New", "Create")*@
        @*@Html.ActionLink("My Projects", "MyProjects")*@
        @*</p>*@
    </div>
    <div style="clear:both"></div>
</div>

<p></p>
<div class="container-fluid">
    <div class="card">
        <div class=" well well-sm col-sm-12" style=" background-color:lightgray; padding-left:15px; padding-right:15px">
            <table id="projindex" class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Project @*@Html.DisplayNameFor(model => model.Name)*@
                        </th>
                        <th>
                            Manager
                        </th>
                        <th>
                            @*Description*@ Assigned Users
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @*@Html.DisplayFor(modelItem => item.Project.Name)*@
                                @Html.DisplayFor(modelItem => item.Project.Name)
                            </td>

                            <td>
                                @*@foreach (var usr in item.ProjectManagerId)
                                    {
                                        @usr.ProjectManager
                                    }*@
                                @Html.DisplayFor(model => item.ProjectManager.FullName)
                            </td>

                            @*@if (item.AssignedToUsers != null)
                            {
                                <td>

                                    @Html.DisplayFor(modelItem => item.AssignedToUsers)
                                </td>
                            }
                            else
                            {
                                <td>*@
                                    @*<div class="col-sm-12">*@
                                    @*@Html.ActionLink("Assign Users", "AssignTicket", "Tickets", new { id = item.Project.Id }, new { @class = "btn btn-primary" })*@

                                    @*</div>*@
                                    @*</td>*@
                                    <td>
                                        <ul>
                                        @foreach (var usr in item.Project.Users)
                                        {
                                            <li>
                                                @usr.FullName
                                            </li>
                                        }
                                                </ul>
                                    @*@Html.DisplayFor(modelItem => item.Project.Description)*@
                                    @*</td>*@

                                </td>
                            
                            <td>
                                <a href="@Url.Action("Details",new { id = item.Project.Id })" class="btn btn-xs btn-info"><i class="fa fa-list"></i></a>
                                <a href="@Url.Action("Delete",new { id = item.Project.Id })" class="btn btn-xs btn-info"><i class="fa fa-trash"></i></a>
                                @*@Html.ActionLink("Edit", "Edit", new { id = item.Project.Id }) |*@
                                @*@Html.ActionLink("Details", "Details", new { id = item.Project.Id }, new { @class = "btn btn-xs btn-info" })
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Project.Id }, new { @class = "btn btn-xs btn-info" })*@

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('#projindex').DataTable();
    </script>}


