@model IEnumerable<BugTracker.Models.Project>
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "MyProjects";
}
<div class="align-center" style="font-style:oblique">
    <h3>My Projects</h3>
</div>

<div style="float:right">
    <p>
        @* @Html.ActionLink("Create New", "Create")*@
    </p>
    @if (User.IsInRole("Admin"))
    {
        <p>
            @Html.ActionLink("All Projects", "Index", null, new { @class = "btn btn-lg btn-success" })
        </p>
    }
</div>

<div style="float:left">

    @if (User.IsInRole("ProjectManager"))
    {
        <p>
            @Html.ActionLink("Create Project", "Create", null, new { @class = "btn btn-lg btn-info" })
        </p>
    }

</div>
@*<p>@Html.ActionLink("MyProjects", "Projects")</p>*@
@*}*@
@*else
     if (User.IsInRole("Developer"))
    {
        <p>@Html.ActionLink("MyProjects", "Projects")</p>
    }*@

<div class=" well well-sm col-sm-12" style=" background-color:lightgray; padding-left:15px; padding-right:15px; padding-top:20px">
    <table id="myproject" class="table table-striped">
        <thead>
            <tr>
                <th>

                    @*<p>*@
                    Project @*@Html.DisplayNameFor(model => model.Name)*@

                    @*</p>*@
                </th>
                <th>
                    Assigned Users
                </th>
                <th>
                    Action
                </th>

            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <ul>
                            <li>
                                @foreach (var usr in item.Users)
                                {
                                    @usr.FullName
                                }
                            </li>
                        </ul>
                    </td>

                    <td>

                        @*var userId = User.Identity.GetUserId();*@

                        @if ((User.IsInRole("Admin") || User.IsInRole("ProjectManager")))
                        {
                            <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-xs btn-info"><i class="fa fa-edit"></i></a>
                            <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-xs btn-info"><i class="fa fa-list"></i></a>
                            <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-xs btn-info"><i class="fa fa-trash"></i></a>
                            <a href="@Url.Action("Create", "Tickets", new { id = item.Id })" class="btn btn-xs btn-info"><i class="fa fa-ticket"></i></a>
                            @*@Html.ActionLink("Add Ticket", "Create", "Tickets", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })*@

                        }
                        else if (User.IsInRole("Submitter"))
                        {
                            <a href="@Url.Action("Create", "Tickets", new { id = item.Id })" class="btn btn-xs btn-info"><i class="fa fa-ticket"></i></a>
                            @*@Html.ActionLink("Add Ticket", "Create", "Tickets", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })*@

                        }
                        else
                        {

                        }

                        @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-xs btn-info" })
                            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-xs btn-info" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-xs btn-info" })*@
                </tr>
            }

        </tbody>
    </table>
</div>
@section scripts{
    <script>
        $('#myproject').DataTable();
    </script>}

