@model BugTracker.Models.RegisterViewModel
@*@{
        Layout = null;
    }*@

@{
    ViewBag.Title = "Register";
}

<div class="align-center" style="font-style:oblique">
    <h2>Register As New User</h2>
</div>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @*<h4>Create a new account.</h4>
        <hr />*@
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @*<div class="card">*@
    @*<div class="container-fluid">*@
    @*<div class="well-sm col-sm-8">
        <div class="panel panel-info">*@
            @*<div class="panel-body">*@
            <div class="form-group" style="padding-top:30px; padding-bottom:50px">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", required = "true", autofocus = "true" })
                    @*@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })*@
                </div>
            </div>
        @*</div>
    </div>*@
    @*</div>*@
    @*</div>*@
    
           

                <div class="form-group" style="padding-bottom:50px">
                    @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", required = "true", autofocus = "true" })
                    </div>
                </div>
            @*</div>*@
            

            <div class="form-group" style="padding-bottom:50px">
                @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", required = "true", autofocus = "true" })
                </div>
            </div>


            <div class="form-group" style="padding-bottom:50px">
                @Html.LabelFor(m => m.Password, new { @class = " col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", required = "true", autofocus = "true" })
                </div>
            </div>

            <div class="form-group" style="padding-bottom:50px">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", required = "true", autofocus = "true" })
                </div>
            </div>
            @*</div>*@
            @*</div>
                </div>*@



            <div class="form-group">
                <div class="col-md-offset-4 col-md-4" style="padding-bottom:20px">
                    <input type="submit" value="Register" class="btn btn-block btn-primary" />
                </div>
            </div>


            @*<div class="form-group" style="padding-bottom:50px">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Register" />
                    </div>
                </div>*@
            }

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
